@use '../utils' as *;

/*---------------------------------------*/
/*Background color
/*-----------------------------------------*/


.black-bg {
	background: var(--it-common-black);
}
.black-bg-2 {
	background: var(--it-common-black-2);
}
.grey-bg {
	background: var(--it-grey-1);
}
.grey-bg-2 {
	background: var(--it-grey-4);
}
.grey-bg-3 {
	background: var(--it-grey-5);
}
.theme-bg {
	background: var(--it-theme-2);
}
.theme-bg-2 {
	background: var(--it-theme-1);
}
.red-bg {
	background: var(--it-theme-3);
}

