@use '../utils' as *;

.it-btn{
	display: inline-block;
	height: 60px;
	line-height: 60px;
	padding: 0 50px;
	font-size: 14px;
	font-weight: 700;
	position: relative;
	text-transform: uppercase; 
	color: var(--it-common-white);
	background-color: var(--it-theme-1);
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;	
	@media #{$xs}{
		padding: 0 40px;
		height: 50px;
		line-height: 50px;
	}
	& span{
		position: relative;
		z-index: 2;
		color: var(--it-common-white);
	}
	&::after{
		position: absolute;
		top: 0px;
		right: 0px;
		width: 0%;
		height: 100%;
		content: "";
		background: var(--it-theme-2);
		transition: all 500ms ease-in-out;
	}
	&.white-bg-color{
		& span{
			transition: .3s;
		}
		&::after{
			position: absolute;
			top: 0px;
			right: 0px;
			width: 0%;
			height: 100%;
			content: "";
			background-color: var(--it-common-white);
			color: var(--it-theme-2);
		}
		&:hover{
			&::after {
				left: 0%;
				right: auto;
				width: 100%;
			}
			& span{
				color: var(--it-theme-2);
			}
		}
	}
	&.hover-2{
		&::after{
			position: absolute;
			top: 0px;
			right: 0px;
			width: 0%;
			height: 100%;
			content: "";
			background: var(--it-common-black);
			transition: all 500ms ease-in-out;
		}
		&:hover{
			& span{
				color: var(--it-common-white);
			}
			&::after {
				left: 0%;
				right: auto;
				width: 100%;
			}
		}
	}
	@media #{$xs}{
        font-size: 12px;
    }
	&:hover{
		color: var(--it-common-black);
		&::after {
			left: 0%;
			right: auto;
			width: 100%;
		}
	}
}
.it-btn-2{
	display: inline-block;
	height: 60px;
	line-height: 60px;
	padding: 0 50px;
	font-size: 14px;
	font-weight: 700;
	position: relative;
	text-transform: uppercase; 
	color: var(--it-common-white);
	background-color: var(--it-theme-2);
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;	
	@media #{$xs}{
		padding: 0 40px;
		height: 50px;
		line-height: 50px;
	}
	& span{
		position: relative;
		z-index: 2;
		color: var(--it-common-white);
	}
	&::after{
		position: absolute;
		top: 0px;
		right: 0px;
		width: 0%;
		height: 100%;
		content: "";
		background: var(--it-theme-1);
		transition: all 500ms ease-in-out;
	}
	@media #{$xs}{
        font-size: 12px;
    }
	&:hover{
		color: var(--it-common-black);
		&::after {
			left: 0%;
			right: auto;
			width: 100%;
		}
	}
}
.it-black-btn{
	display: inline-block;
	height: 60px;
	line-height: 60px;
	padding: 0 40px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase; 
	position: relative;
	color: var(--it-common-white);
	background-color: var(--it-theme-2);
	& span{
		position: relative;
		z-index: 2;
	}
	&.hover-2{
		&::after{
			position: absolute;
			top: 0px;
			right: 0px;
			width: 0%;
			height: 100%;
			content: "";
			background: var(--it-theme-3);
			transition: all 500ms ease-in-out;
		}
		&:hover{
			color: var(--it-common-white);
			&::after {
				left: 0%;
				right: auto;
				width: 100%;
			}
		}
	}
	&::after{
		position: absolute;
		top: 0px;
		right: 0px;
		width: 0%;
		height: 100%;
		content: "";
		background: var(--it-common-white);
		transition: all 500ms ease-in-out;
	}
	&:hover{
		color: var(--it-theme-2);
		&::after {
			left: 0%;
			right: auto;
			width: 100%;
		}
	}
	@media #{$xs}{
        font-size: 12px;
    }
}
.it-black-sm-btn{
	display: inline-block;
	background-color: var(--it-common-black);
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase; 
	font-size: 14px;
	color: var(--it-common-white);
	position: relative;
	& span{
		position: relative;
		z-index: 2;
	}
	&::after{
		position: absolute;
		top: 0px;
		right: 0px;
		width: 0%;
		height: 100%;
		content: "";
		background: var(--it-common-white);
		transition: all 500ms ease-in-out;
	}
	&:hover{
		color: var(--it-common-black);
		&::after {
			left: 0%;
			right: auto;
			width: 100%;
		}
	}
	@media #{$xs}{
        font-size: 12px;
    }
}
.it-red-btn{
	display: inline-block;
	background-color: var(--it-theme-3);
	height: 60px;
	line-height: 60px;
	padding: 0 50px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase; 
	color: var(--it-common-white);
	@media #{$xs}{
        font-size: 12px;
    }
	position: relative;
	& span{
		position: relative;
		z-index: 2;
	}
	&::after{
		position: absolute;
		top: 0px;
		right: 0px;
		width: 0%;
		height: 100%;
		content: "";
		background: var(--it-common-white);
		transition: all 500ms ease-in-out;
	}
	&:hover{
		color: var(--it-common-black);
		&::after {
			left: 0%;
			right: auto;
			width: 100%;
		}
	}
	&.hover-2{
		&::after{
			position: absolute;
			top: 0px;
			right: 0px;
			width: 0%;
			height: 100%;
			content: "";
			background: var(--it-common-black);
			transition: all 500ms ease-in-out;
		}
		&:hover{
			color: var(--it-common-white);
			&::after {
				left: 0%;
				right: auto;
				width: 100%;
			}
		}
	}
}
.it-border-btn{
	display: inline-block;
	border: 1px solid #c9c4c4;
	height: 60px;
	line-height: 60px;
	padding: 0 50px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase; 
	color: var(--it-theme-3);
	@media #{$xl}{
		padding: 0 35px;
		font-size: 13px;
    }
	@media #{$lg}{
		padding: 0 35px;
		font-size: 13px;
    }
	@media #{$xs}{
        font-size: 12px;
    }
	position: relative;
	& span{
		position: relative;
		z-index: 2;
	}
	&::after{
		position: absolute;
		top: 0px;
		right: 0px;
		width: 0%;
		height: 100%;
		content: "";
		background: var(--it-theme-3);
		transition: all 500ms ease-in-out;
	}
	&:hover{
		color: var(--it-common-white);
		border: 1px solid transparent;
		&::after {
			left: 0%;
			right: auto;
			width: 100%;
		}
	}
}
.it-white-btn{
	display: inline-block;
	background-color: #FFF;
	height: 60px;
	line-height: 60px;
	padding: 0 50px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase; 
	color: var(--it-theme-3);
	position: relative;
	& span{
		position: relative;
		z-index: 2;
	}
	&.hover-2{
		&::after{
			position: absolute;
			top: 0px;
			right: 0px;
			width: 0%;
			height: 100%;
			content: "";
			background: var(--it-common-black);
			transition: all 500ms ease-in-out;
		}
		&:hover{
			color: var(--it-common-white);
			&::after {
				left: 0%;
				right: auto;
				width: 100%;
			}
		}
	}
	@media #{$xs}{
        font-size: 12px;
    }
}
.it-grey-btn{
	display: inline-block;
	background-color: #f5efef;
	height: 60px;
	line-height: 60px;
	padding: 0 50px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase; 
	color: var(--it-theme-2);
	@media #{$xs}{
        font-size: 12px;
    }
	position: relative;
	& span{
		position: relative;
		z-index: 2;
	}
	&::after{
		position: absolute;
		top: 0px;
		right: 0px;
		width: 0%;
		height: 100%;
		content: "";
		background: var(--it-theme-2);
		transition: all 500ms ease-in-out;
	}
	&:hover{
		color: var(--it-common-white);
		&::after {
			left: 0%;
			right: auto;
			width: 100%;
		}
	}
}
.it-grey-btn-2{
	display: inline-block;
	background-color: #f5efef;
	height: 60px;
	line-height: 60px;
	padding: 0 50px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase; 
	color: var(--it-common-black);
	position: relative;
	& span{
		position: relative;
		z-index: 2;
	}

	&.hover-2{
		&::after{
			position: absolute;
			top: 0px;
			right: 0px;
			width: 0%;
			height: 100%;
			content: "";
			background: var(--it-common-black);
			transition: all 500ms ease-in-out;
		}
		&:hover{
			color: var(--it-common-white);
			&::after {
				left: 0%;
				right: auto;
				width: 100%;
			}
		}
	}
	@media #{$xs}{
        font-size: 12px;
    }
}
.it-btn-white-sm {
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	position: relative;
	transition: 0.3s;
	text-transform: uppercase;
	color: var(--it-common-white);
	background-color: var(--it-theme-1);
	&.red-bg {
		background-color: var(--it-theme-3);
	}
	&:hover {
		background-color: var(--it-theme-2);
		color: var(--it-common-white);
		&.red-bg {
			color: var(--it-common-white);
		}
	}
}
 