@use '../utils' as *;

/*----------------------------------------*/
/*  13. error css start
/*----------------------------------------*/
.it-error {
    &__thumb {
        & img {
            max-width: 100%;
        }
    }
    &__title {
        font-size: 48px;
        font-weight: 700;
        padding-bottom: 20px;
        @media #{$xxl,$xl}{
            font-size: 45px;
        }    
        @media #{$lg}{
            font-size: 40px;
        }    
        @media #{$md}{
            font-size: 37px;
        }    
        @media #{$xs}{
            font-size: 30px;
        }    
    }
    &__content {  
        & p {
            color: var(--it-common-black);
            font-size: 18px;
            margin-top: 40px;
            margin-bottom: 60px;
        }
    }
}